<!-- AbhayAshta
301240026 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Container-->
<main class="container">
  <div class="jumbotron">
  <!-- <h1 class="display-4">Welcome to the <%= title %> page</h1> -->
</div>
</main>

<h1>Contact Us</h1>

<div class="outerDiv">
  <h3>General Inquires</h3>
<form name="contact" id="contact">
<label for="name">Name</label>
<input type="text" name="name" id="name">
<br><br><br>
<label for="phone">Phone</label>
<input type="text" name="phone" id="phone">
<br><br><br>
<label for="email">Email</label>
<input type="email" name="email" id="email">
<br><br><br>
<label for="comments">Comments</label>
<textarea name="comments" id="comments"></textarea>
<br><br><br>
<input type="submit" name="submit" id="submit" value="Submit Form" class="submitBtn">
   </form>
</div>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>









