<!-- AbhayAshta
301240026 
7 Oct, 2022-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Container-->
<main class="container">
    <div class="jumbotron">
    <!-- <h1 class="display-4">Welcome to the <%= title %> page</h1> -->
  </div>
  </main>

 <h1>Welcome to My Portfolio!</h1>
 <p>Creating innovative websites for brands & businesses</p>
 <button type="clickHere" id="aboutmeBtn"> <a href="http://localhost:3000/about">Click Here</a></button>
 
   
<!-- Bottom and footer -->
  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>