<!-- AbhayAshta
301240026 -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Container-->
<main class="container">
    <div class="jumbotron">
    <!-- <h1 class="display-4">Welcome to the <%= title %> page</h1> -->
  </div>
  </main>

 <h1>Welcome to My Projects!</h1>
 <br></br>

 <h3>GUI Calculator</h3>
 <iframe width="560" height="315" src="https://www.youtube.com/embed/VcULPN85CCI" title="GUI CALCULATOR - ABHAY ASHTA 301240026" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>This project is made with the help of C# in Winforms of Visual Studio. This is a GUI calculator which helps calculate basic mathematical and scientific problems. Along with the mathemical funcionalities it also has features such as dark mode which makes it more user-friendly.</p>
 

   
<!-- Bottom and footer -->
  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>