<!-- AbhayAshta
301240026 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Container-->
<main class="container">
  <div class="jumbotron">
  <!-- <h1 class="display-4">Welcome to the <%= title %> page</h1> -->
</div>
</main>

<h1>SERVICES</h1>
<br><br><br><br><br><br>

<h2>Website Devloper</h2>
<br><br><br><br>
<!-- Insert Images -->
<br><br><br><br>
<p>Devloping portfolios, marketing websites, online business stores etc.
    Enthuastic in devloping websites using EJS, JAVASCRIPT, HTML, CSS
</p>
<br><br><br><br><br><br>

<h2>Problem Solving</h2>
<!-- Include Images -->
<br><br><br><br>
<p>Good at debugging code and finding errors. Efficient in problem solving skill and helping software companies provide a better experience to their users </p>
<br><br><br><br><br><br>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>









